body{
    background-color: gainsboro;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background: white;
}
.contenedor{
    width: 350px;
    margin: auto;  
}
div.Postal{
    background: white;
}

div.Postal .postal-header div:first-child{
    display: inline-block;
    width: 80%;
}

div.Postal .postal-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}

div.contenedor p{
    padding: 10px;
}